/* =====================================================
   SP only（〜599px）
===================================================== */
@media (max-width: 599px) {
  .author-name {
    display: none;
  }

  .author-link {
    text-decoration: none; /* 下線不要 */
  }
}


/* =====================================================
   Tablet
===================================================== */
@media (min-width: 600px) {
  .post-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* =====================================================
   PC
===================================================== */
@media (min-width: 900px) {
  .post-list {
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
  }
    .post-author i {
      font-size: 1rem;
    }

  .post-wrapper,
  .type-wrapper {
    max-width: 1100px;
    padding: 2rem;
  }

  .post-card:hover {
    transform: translateY(-6px);
  }

  .post-title {
    font-size: 1.2rem;
  }

  .post-text {
    font-size: 0.95rem;
  }

  .btn-detail {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
  }

  .type-item a:hover {
    transform: translateX(6px);
  }
}
