/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 共通 */
@import "./common/header.css";
@import "./common/posts-index.css";

/* ユーザー関連 */
@import "./users/users.css";
@import "./users/posts.css";
@import "./users/posts-form.css";
@import "./users/login.css";
